# Autoriser tous les fichiers PHP
<Files "*.php">
    Allow from all
</Files>

# Gérer les méthodes HTTP
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permettre PUT et DELETE
    RewriteCond %{REQUEST_METHOD} ^(PUT|DELETE)$
    RewriteRule ^(.*)$ $1 [L]
</IfModule>
